<link rel='stylesheet' href="../css/style.css"/>
<h1>All About <%= animal.name %>!</h1>
<p>Take <%= animal.name %> on a walk today! Message <%= animal.name %>'s owner for more info on their walk and care schedule!</p>
<!-- form to create a new fav -->
<form method="POST" action="/pages/favorites">
    <input hidden value="<%= animal.name %>" name="name"/>
    <input hidden value="<%= animal.photos[0].medium %>" name="photos"/>
    <input hidden value="<%= animal.id %>" name="id"/>
    <button class='btn btn-light' type="submit">❤️</button>
</form>
<div>
    <img src= "<%= (animal.photos[0]) ? animal.photos[0].medium : 'https://place.dog/300/200' %>"/>
    <h2><%= animal.name %></h2>
    <p>Age: <%= animal.age %></p>
    <p>Breed: <%= animal.breed %></p>
    <p>Sex: <%= animal.sex %></p>
    <p>Tags: <%= animal.tags %></p>
</div>

<h2>Comments:</h2>
<% walkComments.forEach(comment => { %>
    <h3><%= comment.user.email %></h3>
    <p><%= comment.content %></p>
    <form method="POST" action="/pages/about/<%= animal.id %>/?_method=DELETE">
        <input hidden value="<%= comment.id %>" name='id'/>
        <% if (comment.dataValues.user.id === user.id){ %>
             <button class='btn btn-danger' type="submit">Delete!</button>
        <% } %>
    </form>
    <form method="GET" action="/pages/edit/<%= comment.id %>">
        <input hidden type='number' value="<%= comment.id %>" name="id"/>
        <input hidden type='number' value="<%= animal.id %>" name="animalId"/>
        <% if (comment.dataValues.user.id === user.id){ %>
            <button class='btn btn-warning' type="submit">Edit!</button>
        <% } %>
    </form>
  <% }) %>

<form action="/pages/about/<%= animal.id %>" method="POST">
  <div class="form">
    <label for="content">Share your experience:</label>
    <input type="text" class="form" id="content" name="content" placeholder='Tell us about the walk!' required></textarea>
  </div>

  <button class='btn butts' type="submit">Comment!</button>
</form>