<h1>this will have details of each dog and a comment section</h1>
<div>
    <img src= "<%= (animal.photos[0]) ? animal.photos[0].medium : 'null' %>"/>
    <h2><%= animal.name %></h2>
    <p><%= animal.age %></p>
    <p><%= animal.breed %></p>
    <p><%= animal.sex %></p>
    <p><%= animal.tags %></p>
    <p><%= animal.description %></p>
</div>
<!-- form to create a new fav -->
<form method="POST" action="/home/favorites">
    <input hidden value="<%= animal.name %>" name="name"/>
    <input hidden value="<%= animal.photos[0] %>" name="photos"/>
    <input hidden value="<%= animal.id %>" name="id"/>
    <button type="submit">❤️</button>
</form>

<h2>Comments:</h2>
<% walkComments.forEach(comment => { %>
    <h3><%= comment.user.email %></h3>
    <p><%= comment.content %></p>
    <form method="POST" action="/home/about/<%= animal.id %>/?_method=DELETE">
        <input hidden value="<%= comment.id %>" name='id'/>
        <button type="submit">Delete!</button>
    </form>
  <% }) %>

<form action="/home/about/<%= animal.id %>" method="POST">
  <div class="form">
    <label for="content">Content</label>
    <input type="text" class="form" id="content" name="content" required></textarea>
  </div>

  <input type="submit" class="btn">
</form>