<h1>this will have details of each dog and a comment section</h1>
<div>
    <img src= "<%= (animal.photos[0]) ? animal.photos[0].medium : 'null' %>"/>
    <h2><%= animal.name %></h2>
    <p><%= animal.age %></p>
    <p><%= animal.breed %></p>
    <p><%= animal.sex %></p>
    <p><%= animal.tags %></p>
    <p><%= animal.description %></p>
</div>